{% extends "basic.html" %}
{% load static %}

{% block content %}
 <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">关于本系统</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">首页</li>
                                <li class="breadcrumb-item active">关于本系统</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3><i class="fa fa-line-chart"></i> 内存使用情况</h3>
                                显示最近的30分钟内的内存已用和可用的情况
                            </div>

                            <div class="card-body">
                                <p></p>
                            </div>
                            <div class="card-footer small text-muted">最后更新时间</div>
                        </div><!-- end card-->
                    </div>
                </div>
                <!-- end row -->

        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->

<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/pikeadmin.js' %}"></script>

<!-- BEGIN Java Script for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Counter-Up-->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>

<script>


</script>
<!-- END Java Script for this page -->
{% endblock %}