{% extends "basic.html" %}
{% load static %}

{% block content %}
 <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">仪表盘</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">首页</li>
                                <li class="breadcrumb-item active">仪表盘</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->



        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->

<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/pikeadmin.js' %}"></script>

<!-- BEGIN Java Script for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Counter-Up-->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>

<script>


</script>
<!-- END Java Script for this page -->
{% endblock %}