{% extends "basic.html" %}
{% load static %}

{% block content %}
 <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">关于本系统</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">首页</li>
                                <li class="breadcrumb-item active">关于本系统</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


<div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card mb-3">
							<div class="card-header">
								<h3><i class="fa fa-heart-o"></i> 关于本系统</h3>
								这是一个获取树莓派或raspbian系统的系统信息的数据采集和展示的一个系统，本系统agent基于python程序和
                                第三方包来实现信息的获取。
							</div>

							<div class="card-body">

								<div class="alert alert-success" role="alert">
								  <h4 class="alert-heading">Well done!</h4>
								  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
								  <hr>
								  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
								</div>

							</div>
						</div><!-- end card-->
                    </div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card mb-3">
							<div class="card-header">
								<h3><i class="fa fa-commenting-o"></i> 系统版本及更新进度</h3>
								当前系统版本：1.0
							</div>

							<div class="card-body">
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年5月4日：</strong> 发现agent获取lastb用切片[1:]存在问题，改为lstrip去掉左边的空格。
                                    准备添加一个redis的功能，用于显示当前实时的lastb里面的信息。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年5月3日：</strong> 添加登陆失败数据显示页面及逻辑。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年4月26日：</strong> agent添加获取登录失败的信息的功能，并且添加了获取的时间范围。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年4月25日：</strong> 完成了首页的初稿,修改agent的机器获取，并添加关于lastb的获取内容。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年4月23日：</strong> 构建CPU、内存使用详情的页面。修改首页的数据图表为显示10分钟的内容，
                                    详细页为30分钟及默认显示640条数据。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年4月20日：</strong> 添加展示的页面及确定了页面的数量。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年4月19日：</strong> 开始美化数据展示的页面。
								</div>
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>2021年04月18日：</strong> agent的小错误修复。并且添加两个shell脚本，用于后台运行django和agent。<br />
                                    调整显示规则，由原来的24小时的数据调整为显示30分钟的数据
								</div>
							</div>
						</div><!-- end card-->
                    </div>
                <!-- end row -->


			<div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card mb-3">
							<div class="card-header">
								<h3><i class="fa fa-square-o"></i> 感谢捐献</h3>
								如果您觉得本程序对您有帮助，欢迎扫码以下的二维码，请作者喝杯奶茶
							</div>

							<div class="card-body">
								<div class="row">
								<div class="col-sm-6">
								<div class="card">
								  <img class="card-img-top" src="{% static 'assets/images/wechat.jpg' %}" alt="Card image cap">
								  <div class="card-body">
									<h4 class="card-title">微信扫码</h4>
									<p class="card-text">欢迎扫码上面的微信二维码，感谢您的鼓励，这会成为作者继续改进下去的动力。</p>
								  </div>
								</div></div>
								<div class="col-sm-6">
								<div class="card">
								  <img class="card-img-top" src="{% static 'assets/images/alpay.jpg' %}" alt="Card image cap">
								  <div class="card-body">
									<h4 class="card-title">支付宝扫码</h4>
									<p class="card-text">欢迎扫码上面的微信二维码，感谢您的鼓励，这会成为作者继续改进下去的动力。</p>
								  </div>
								</div></div>
								</div>
							</div>
						</div><!-- end card-->

                    </div>

			</div>

        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->
</div>
<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/pikeadmin.js' %}"></script>

<!-- BEGIN Java Script for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Counter-Up-->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>

<script>


</script>
<!-- END Java Script for this page -->

{% endblock %}