{% extends "basic.html" %}
{% load static %}

{% block content %}
    <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">仪表盘</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">首页</li>
                                <li class="breadcrumb-item active">仪表盘</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
									<div class="card mb-3">
										<div class="card-header">
											<h3><i class="fa fa-table"></i> 系统的基本信息</h3>
											这里显示被获取信息的系统的一些基本信息，例如：
										</div>

										<div class="card-body">

											<table class="table table-responsive-xl table-striped">
											  <thead>
												<tr>
												  <th scope="col">序号</th>
												  <th scope="col">系统项名</th>
												  <th scope="col">项目值</th>
												</tr>
											  </thead>
											  <tbody>
												<tr>
												  <th scope="row">1</th>
												  <td>操作系统</td>
												  <td>{{ result.os_system }}</td>
												</tr>
												<tr>
												  <th scope="row">2</th>
												  <td>节点名</td>
												  <td>{{ result.os_node }}</td>
												</tr>
												<tr>
												  <th scope="row">3</th>
												  <td>内核版本</td>
												  <td>{{ result.os_release }}</td>
												</tr>
                                                <th scope="row">4</th>
												  <td>内核版本</td>
												  <td>{{ result.os_version }}</td>
												</tr>
												<tr>
												  <th scope="row">5</th>
												  <td>操作系统</td>
												  <td>{{ result.os_machine }}</td>
												</tr>
												<tr>
												  <th scope="row">6</th>
												  <td>主机名</td>
												  <td>{{ result.hostname }}</td>
												</tr>
                                                <th scope="row">7</th>
												  <td>主机IP</td>
												  <td>{{ result.host_ip }}</td>
												</tr>
												<tr>
												  <th scope="row">8</th>
												  <td>系统已启动时间（天）</td>
												  <td>{{ result.uptime }}</td>
												</tr>
												<tr>
												  <th scope="row">9</th>
												  <td>主机MAC地址</td>
												  <td>{{ result.mac_address }}</td>
												</tr>
                                                <th scope="row">10</th>
												  <td>CPU核心数</td>
												  <td>{{ result.cpu_num }}</td>
												</tr>
												<tr>
												  <th scope="row">11</th>
												  <td>CPU架构名</td>
												  <td>{{ result.cpu_modelname }}</td>
												</tr>
												<tr>
												  <th scope="row">12</th>
												  <td>CPU架构</td>
												  <td>{{ result.cpu_model }}</td>
												</tr>
											  </tbody>
											</table>

										</div>
									</div><!-- end card-->
								</div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3><i class="fa fa-star-o"></i> 硬盘使用情况</h3>
                                列出系统中各个挂载点，并且将其的空间使用百分比展示
                            </div>

                            <div class="card-body">
                                {% for item in disk_data %}
                                <p class="font-600 m-b-5"> 磁盘挂载点：{{ item.mount_point }}<span
                                        class="text-primary pull-right"><b>
													{{ item.used_percent|slice:":-1" }} %</b></span></p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-xs bg-primary"
                                         role="progressbar" style="width: {{ item.used_percent }}"
                                         aria-valuenow="{{ item.used_percent }}" aria-valuemin="0"
                                         aria-valuemax="{{ item.used_percent }}"></div>
                                </div>

                                <div class="m-b-20"></div>
                                {% endfor %}
                            </div>
                        <div class="card-footer small text-muted"><a href="disk.html">查看更多数据</a></div>
                    </div><!-- end card-->
                </div>
            </div>

                </div>



                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3><i class="fa fa-line-chart"></i> CPU使用情况</h3>
                                显示最近的30分钟内的CPU使用情况，分别两个数值为用户使用的百分比和系统使用的百分比
                            </div>

                            <div class="card-body">
                                <canvas id="lineChart"></canvas>
                            </div>
                            <div class="card-footer small text-muted"><a href="cpu.html">查看更多数据</a></div>
                        </div><!-- end card-->
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3><i class="fa fa-line-chart"></i> 内存使用情况</h3>
                                显示最近的30分钟内的内存已用和可用的情况
                            </div>

                            <div class="card-body">
                                <canvas id="lineChart2"></canvas>
                            </div>
                            <div class="card-footer small text-muted"><a href="memory.html">查看更多数据</a></div>
                        </div><!-- end card-->
                    </div>
                </div>
                <!-- end row -->

        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->

<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/pikeadmin.js' %}"></script>

<!-- BEGIN Java Script for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Counter-Up-->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>


<script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();

			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
			});
		} );

</script>

<script>
	var ctx1 = document.getElementById("lineChart").getContext('2d');
	var lineChart = new Chart(ctx1, {
		type: 'bar',
		data: {
			labels: [{% for item in cpu_data %}"{{item.date}}",{% endfor %}],
			datasets: [{
					label: '用户使用',
					backgroundColor: '#DD0F20',
					data: [{% for item in cpu_data %}"{{item.cpu_user_precent|slice:":-1"}}",{% endfor %}]
				}, {
					label: '系统使用',
					backgroundColor: '#F18A31',
					data: [{% for item in cpu_data %}"{{item.cpu_sys_precent|slice:":-1"}}",{% endfor %}]
				}]
				
		},
		options: {
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
	});

	var ctx2 = document.getElementById("lineChart2").getContext('2d');
	var lineChart = new Chart(ctx2, {
		type: 'line',
		data: {
			labels: [{% for item in memory_data %}"{{item.date}}",{% endfor %}],
			datasets: [{
					label: '已用内存',
					backgroundColor: '#3EB9DC',
					data: [{% for item in memory_data %}"{{item.mem_used|slice:":-1"}}",{% endfor %}]
				}, {
					label: '可用内存',
					backgroundColor: '#EBEFF3',
					data: [{% for item in memory_data %}"{{item.mem_free|slice:":-1"}}",{% endfor %}]
				}]

		},
		options: {
						tooltips: {
							mode: 'index',
							intersect: false
						},
						responsive: true,
						scales: {
							xAxes: [{
								stacked: true,
							}],
							yAxes: [{
								stacked: true
							}]
						}
					}
	});

</script>
<!-- END Java Script for this page -->

{% endblock %}