<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图形化显示监控数据</title>
    <script src="{% static 'echarts/echarts.min.js' %}"></script>
</head>
<body>
<li>操作系统：{{result.os_system}}</li>
<li>节点名：{{result.os_node}}</li>
<li>系统版本：{{result.os_release}}</li>
<li>发行版本：{{result.os_version}}</li>
<li>系统框架：{{result.os_machine}}</li>
<li>操作系统：{{result.os_processor}}</li>
<li>主机名：{{result.hostname}}</li>
<li>IP地址：{{result.host_ip}}</li>
<li>运行时间：{{result.uptime}}</li>
<li>MAC地址：{{result.mac_address}}</li>
<li>CPU核心数：{{result.cpu_num}}</li>
<li>CPU型号名：{{result.cpu_modelname}}</li>
<li>CPU型号：{{result.cpu_model}}</li>


<!--物理内存使用情况图标-->
<div id="memory" style="width: 1000px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('memory'));
    option = {
        title: {
            text: '物理内存使用情况',
            subtext: '默认为显示24小时内的数据'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['已用内存', '可用内存']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{% for item in memory_data %}"{{item.date}}",{% endfor %}]
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name: '已用内存',
                type: 'line',
                data: [{% for item in memory_data %}"{{item.mem_used|slice:":-1"}}",{% endfor %}],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '可用内存',
                type: 'line',
                data: [{% for item in memory_data %}"{{item.swap_free|slice:":-1"}}",{% endfor %}],
                markPoint: {
                    data: [
                        {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'},
                        [{
                            symbol: 'none',
                            x: '90%',
                            yAxis: 'max'
                        }, {
                            symbol: 'circle',
                            label: {
                                position: 'start',
                                formatter: '最大值'
                            },
                            type: 'max',
                            name: '最高点'
                        }]
                    ]
                }
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>