<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>操作系统：{{result.os_system}}</li>
<li>节点名：{{result.os_node}}</li>
<li>系统版本：{{result.os_release}}</li>
<li>发行版本：{{result.os_version}}</li>
<li>系统框架：{{result.os_machine}}</li>
<li>操作系统：{{result.os_processor}}</li>
<li>主机名：{{result.hostname}}</li>
<li>IP地址：{{result.host_ip}}</li>
<li>运行时间：{{result.uptime}}</li>
<li>MAC地址：{{result.mac_address}}</li>
<li>CPU核心数：{{result.cpu_num}}</li>
<li>CPU型号名：{{result.cpu_modelname}}</li>
<li>CPU型号：{{result.cpu_model}}</li>

</body>
</html>