{% extends "basic.html" %}
{% load static %}

{% block content %}
 <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">系统登陆失败</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">首页</li>
                                <li class="breadcrumb-item active">系统登陆失败</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->



                <div class="row">
									<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-default">
													<i class="fa fa-file-text-o float-right text-white"></i>
													<h6 class="text-white text-uppercase m-b-20">登陆失败总数</h6>
													<h1 class="m-b-20 text-white counter">{{ count }}</h1>
													<span class="text-white">数据截止至上个月</span>
											</div>
									</div>

									<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-warning">
													<i class="fa fa-bar-chart float-right text-white"></i>
													<h6 class="text-white text-uppercase m-b-20">登陆失败IP总数</h6>
													<h1 class="m-b-20 text-white counter">{{ total_ip_num }}</h1>
													<span class="text-white">数据截止至上个月</span>
											</div>
									</div>

									<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-info">
													<i class="fa fa-user-o float-right text-white"></i>
													<h6 class="text-white text-uppercase m-b-20">登陆失败用户总数</h6>
													<h1 class="m-b-20 text-white counter">{{total_name_num}}</h1>
													<span class="text-white">数据截止至上个月</span>
											</div>
									</div>

									<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-danger">
													<i class="fa fa-bell-o float-right text-white"></i>
													<h6 class="text-white text-uppercase m-b-20">本月登录失败总数</h6>
													<h1 class="m-b-20 text-white counter">{{db_num}}</h1>
													<span class="text-white">本月的数据</span>
											</div>
									</div>
                </div>
							<!-- end row -->


				            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3><i class="fa fa-table"></i> 本月登录失败明细</h3>
                            显示当前月份到目前为止，btmp中记录的所有登录失败的记录。
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="example1_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example1"
                                                   class="table table-bordered table-hover display dataTable no-footer"
                                                   role="grid" aria-describedby="example1_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_desc" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1" aria-sort="descending"
                                                        aria-label="Start date: activate to sort column ascending"
                                                        style="width: 88px;">时间
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Position: activate to sort column ascending"
                                                        style="width: 62px;">IP
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 62px;">终端
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Age: activate to sort column ascending"
                                                        style="width: 62px;">用户名
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in lastb_list %}
                                                <tr>
                                                <td>{{item.time}}</td>
                                                <td>{{item.ip}}</td>
                                                <td>{{item.terminal}}</td>
                                                <td>{{item.name}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- end card-->
                </div>
            </div>


        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->

<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/pikeadmin.js' %}"></script>

<!-- BEGIN Java Script for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Counter-Up-->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>

<script>
	// START CODE FOR BASIC DATA TABLE
	$(document).ready(function() {
		$('#example1').DataTable();
	} );
	// END CODE FOR BASIC DATA TABLE
</script>
<!-- END Java Script for this page -->
{% endblock %}